<footer id="footer" class="wap clearfix">
  <div class="left">Thanks For Acterce & aidingcan</div>
  <div class="right v">当前呈现版本：12.11.11</div>
</footer>
</div>
<div class="payCover hide">
    <div class="coverCentent" style="margin:0 auto;background:#FDF4DC;width:800px;height:500px;border-radius:8px;position:relative;top:100px;padding:20px;font-size:40px;line-height:60px;font-weight:bold;font-family:'Hiragino Sans GB W3','微软雅黑">
        账户余额不足，请联系Jolin充值<br/>
        账户当前余额：<span style="color:red;"><%= locals.session.user.balance %></span><br/>
        QQ：464861114<br/>
        email：<a href="mailto:jolin.zhu@hunteron.com">Jolin.zhu@hunteron.com</a><br/>
        <br/><br/><br/>
        <a href="/user/logout">充值后点此重新登录</a>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
<%
if(typeof locals.session.user.balance === 'undefined'){
    locals.session.user.balance = 0;
}
%>
var needPay = <%= locals.session.user.balance <= 0 %>,
    cover = $(".payCover");
if(needPay){
    cover.css({
        position: 'absolute',
        background:'rgba(255,255,255,.8)',
        top: 0,
        left: 0,
        width: '100%',
        height: $(document).height()
    });
    cover.removeClass("hide");
}
</script>
</body>
</html>
